<div class="container-fluid no-gutters container-div">
    <app-login></app-login>
    <div class="row main-content">
        <div class="d-none d-md-block col-6 welcome-div">
            <h4>Find friends and share your experiences!</h4>
            <!--<img src="http://localhost:8080/image-resource/social-network.jpg"" alt="socrial network">-->
            <img src="https://cdn.pixabay.com/photo/2014/12/01/06/46/social-media-552411_960_720.jpg" alt="social network">
        </div>
        <div class="col-12 col-md-6">
            <app-registration></app-registration>
        </div>
    </div>
</div>
<footer>
    <p>® All rights reserved.</p>
    <p>Made by: Brigitta Árvay, Zsuzsanna Benkő, Katalin Csortos, Kristóf Mátyás Marsi</p>
</footer>



