header {
    text-align: center;
    background-color: #464670;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
    background-color: #464670;
    color: ghostwhite;
}
