header {
    text-align: center;
    background-color: #464670;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
    background-color: #464670;
    color: #ffffff !important;
}

.dropdown-item:hover {
    background-color: #007bff;
}

.dropdown-menu {
    background-color: #464670;
}

.my-menu {
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    margin-top: 8px;
}
