ul li {
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}

ul li:hover {
    color: #007bff;
}

ul li:last-child:hover {
    color: #464670;
}

.group-icon {
    color: #464670;
    font-size: 40px;
    margin-right: 15px;
    vertical-align: bottom;
}
