.post-item {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    background-color: #e6e6f4;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px #aaa;
}
.date span {
    font-weight: bold;
    font-style: italic;
}
.post-item img {
    width: 350px;
    height: auto;
}
.message {
    font-size: 18px;
}
.thumb-up, .thumb-down, .trash, .edit {
    font-size: 25px;
    cursor: pointer;
}
.thumb-up {
    color: green;
}
.thumb-down {
    color: red;
}
.likes, .dislikes {
    margin-left: 3px;
    margin-right: 15px;
}
.trash, .edit {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
.amend-message {
    background-color: #fff;
    padding: 5px;
}
