<div class="post-item">
  	<h3><i class="material-icons">face</i> {{ post.username }}</h3>
  	<p class="date"><span>Date:</span> {{ post.date | date : "MMM d, y h:mm a" }}</p>
  	<img *ngIf="post.image != null" src="/assets/images/{{post.image}}" alt="img">
  	<p class="message">{{ post.message }}</p>
  	<p class="thumbs">
    	<i class="material-icons thumb-up" (click)="voteUp(book)">thumb_up</i>
    	<span class="likes"> {{ post.likes }} </span>
    	<i class="material-icons thumb-down" (click)="voteDown(book)">thumb_down</i>
    	<span class="dislikes"> {{ post.dislikes }} </span>
	  </p>
</div>
