.latest-event-item li {
    list-style: none;
}
.latest.events-item li p {
    margin-top: 10px;
}
.events-btn {
    background-color: #464670;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    float: right;
}
.events-btn:hover {
    background-color: #007BFF;
}
