<div class="add-post">
    <h4>Add your post</h4>
    <form class="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <label for="message">Message:</label>
        <textarea [(ngModel)]="message" id="message" name="message" placeholder="What's on your mind?"></textarea>
        <div class="image-choice"><i class="material-icons" (click)="toggleVisibility()">add_photo_alternate</i>
            <div id="add-photo-div" [ngClass]="{'toggle': hidden}" class="show">
                <input type="file" accept="image/*" (change)="onFileChanged($event)">
            </div>
            <input type="submit" value="submit">
        </div>
    </form>
</div>
