.add-post {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px #aaa;
    border-radius: 10px;
}
textarea {
    background-color: #e6e6f4;
    border: none;
    box-shadow: 1px 0 0 #464670;
    padding: 5px;
    border-radius: 10px;
}
::placeholder {
    color: #464670;
    opacity: 1;
}
.add-post #message {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.image-choice i {
    font-size: 45px;
    margin: 5px;
    color: green;
    cursor: pointer;
}
.show {
    display: inline;
}
.toggle {
    display: none;
}
.image-choice input[type="submit"] {
    background-color: #464670;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    float: right;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
}
.image-choice input[type="submit"]:hover {
    background-color: #007bff;
}
