<app-header></app-header>
<div id="container">
    <div id="cover-holder">
        <img src="https://i.pinimg.com/originals/4c/4f/a7/4c4fa7501410e9c0ae44b324615d323d.jpg" alt="">
    </div>
    <div id="content">
        <div id="about-me" class="col-md-2">
            <app-about-me></app-about-me>
        </div>
        <div id="forum-romanum" class="col-md-8">
            <app-wall></app-wall>
        </div>
        <div id="friends" class="col-md-2">
            <app-friends></app-friends>
        </div>
    </div>
</div>
