/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #464670;
}

.animated {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@keyframes shake {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(60deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(-60deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@-webkit-keyframes shake {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(60deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(-60deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
