/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #464670;
    /*overflow: hidden;*/
}

.animated {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes shake {
    0%   {transform:rotate(0deg)}
    25%  {transform: rotate(45deg)}
    50%  {transform: rotate(0deg)}
    75%  {transform: rotate(-45deg)}
    100% {transform: rotate(0deg)}
}
