<div class="add-post">
    <h4>Add your post</h4>
    <form class="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username">
        <label for="message">Message:</label>
        <textarea [(ngModel)]="message" id="message" name="message" placeholder="What's on your mind?"></textarea>
        <div class="image-choice"><i class="material-icons" (click)="onImageChoice($event)">add_photo_alternate</i>
            <div id="add-photo-div" class="toggle show">
                <input type="file" (change)="onFileChanged($event)">
            </div>
            <input type="submit" value="submit">
        </div>
        
    </form>
</div>
