.comment-input {
    display: block;
    width: 80%;
    margin-left: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #e6e6f4;
    border: none;
    box-shadow: 0 0 1px #464670;
}

::placeholder {
    color: #464670;
    opacity: 1;
}
