.post-item {
    width: 70%;
    margin: 20px auto;
    padding: 15px;
    background-color: ghostwhite;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px #aaa;
    border-radius: 4px;
}
h3 span {
    margin-left: 10px;
}
.post-item .user-image {
    display: inline-block;
    width: 50px;
    height: 55px;
    border-radius: 50%;
}
.date span {
    font-weight: bold;
    font-style: italic;
}
.post-item img {
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
}
.message {
    font-size: 18px;
}
.thumb-up, .thumb-down, .trash, .edit {
    font-size: 35px;
    cursor: pointer;
}
.thumb-up {
    color: green;
}
.thumb-down {
    color: red;
}
.likes, .dislikes {
    margin-left: 3px;
    margin-right: 15px;
}
.trash, .edit {
    color: #464670;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
.trash:hover, .edit:hover {
    color: #007bff;
}
.amend-message {
    background-color: #fff;
    padding: 5px;
}
