.event-container {
    margin-top: 75px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.events {
    background: rgba(255, 255, 255, .6);
    padding: 10px;
}

.colored {
    background: rgba(168, 141, 217, 0.5);
}

.events, .colored {
    border-radius: 15px;
    margin: inherit;
}
