<div id="content">
    <div class="row">
        <div class="col-md-12 to-center">
            <h3>Profile</h3>
        </div>
    </div>
    <hr>
    <br>
    <img src="https://cdn.britannica.com/s:300x300/21/13421-004-A2A61DF4.jpg" alt="">
    <div id="about-me-data">
        <hr>
        <br>
        <p><span><strong>Name: </strong>{{ dummyMember?.name }}</span></p>
        <p><span><strong>Contact: </strong>{{ dummyMember?.email }}</span></p>
        <p class="online">
            <span><strong>Status: </strong>Online </span>
            <i class="material-icons visibility" title="Just kiddin', he is so dead">visibility</i>
        </p>
        <br>
    </div>
    <br>
    <hr>
    <div id="about-me-info">
        <p><strong>About me</strong></p>
        <div class="row">
            <div class="col-md-6 col-centered">
                <div class="word-break">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque dicta expedita impedit in, ipsum molestiae mollitia neque nisi nobis obcaecati officia perspiciatis praesentium reiciendis sit suscipit totam voluptas voluptates.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque dicta expedita impedit in, ipsum molestiae mollitia neque nisi nobis obcaecati officia perspiciatis praesentium reiciendis sit suscipit totam voluptas voluptates.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
