<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="groups-div">
                <h4>Groups</h4>
                <ul>
                    <li><i class="material-icons group-icon">group</i>ALEA IACTA EST Dice Club</li>
                    <li><i class="material-icons group-icon">group</i>THE PRAETORIAN GUARD</li>
                    <li><i class="material-icons group-icon">group</i>THE TRIUMVIRATE (closed group)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
