.groups-div ul li {
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}
.groups-div ul li:hover {
    color: green;
}
.groups-div ul li:last-child:hover {
    color: #464670;
}

.group-icon {
    color: #464670;
    font-size: 40px;
    margin-right: 15px;
    vertical-align: bottom;
}
