.events-div {
    margin: 20px 0;
}
.events-list {
    margin: 20px;
}
.events-list h5 {
    font-weight: bold;
}
.events-list li {
    list-style: none;
}
.events-list li p {
    margin-top: 10px;
}
.events-btn {
    background-color: #464670;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    float: right;
}
.events-btn:hover {
    background-color: green;
}

.column {
    float: left;
    width: 50%;
    padding: 5%;
}

.left {
    float: left;
}

.right {
    align-content: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
