<div class="events-div">
    <h4>Events</h4>
    <ul class="events-list">
        <li><h5>Foro Servum:<button class="events-btn">I'll be there!</button></h5>
            <p>Gallic slaves for half price only tomorrow!</p>

        </li>
        <li>
            <h5>Carthagian campaign:<button class="events-btn">I'll be there!</button></h5>
            <p>Carthago Delenda Est!</p>
        </li>
        <li>
            <h5>Gladiator combats:<button class="events-btn">I'll be there!</button></h5>
            <p>Watch the fights in the Amphitheatrum Flavium.</p>

        </li>
    </ul>
</div>
