li {
    list-style: none;
    padding: 1vh;
    display: inline;
}

.events-btn {
    background-color: #464670;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    margin: 1vh;
    border: none;
    border-radius: 5px;
    float: right;
}

.events-btn:hover {
    background-color: #007BFF;
}

.date {
    text-decoration-line: underline;
    font-weight: 600;
    padding-left: 8px;
}

.description {
    background: rgba(216, 230, 230, .4);
    padding: 10px;
    border-radius: 15px;
}

.left {
    padding-left: 0;
}

.right {
    float: top;
}

.participant-name {
    font-weight: bold;
    cursor: pointer;
    color: #464670;
}
